.forms-log-reg {
    margin: 100px 70px;
    display: flex;
    gap: 20px;

    .form-on {
        width: 609px ;
        height: 406px;
        border: 1px solid #EAEAEA;
        border-radius: 20px;
        padding: 30px;
    }

    .inputs {
        margin-top: 30px;

        input {
            width: 100%;
            height: 48px;
            border-radius: 8px;
            outline: none;
            border: 1px solid #9D9D9D;
            margin-bottom: 20px;
            padding-left: 20px;
        }
    }

    .check {
        margin: 0px 0px 20px 0px;
        font-family: var(--font-2);
        color: #555555;
    }

    .log-button {
        width: 100%;
        height: 48px;
    }

    .p-log {
        color: black;
        padding-top: 30px;
    }

    #from2{
        height:448px !important;
        width: 618px;
    }
}

@media screen and (max-width:992px) {

    .forms-log-reg {
        margin: 70px 20px;
        flex-direction: column;
        gap: 20px;

        .form-on {
            margin-top: 40px;
            width: 100%;
        }
        #from2{
           
            width: 100%;
        }


    }
}