* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.back-home {
    background-color: #F5F5F5;
    padding: 42px 21px !important;
    color: var(--Primary-color);
}

nav {
    a {
        text-decoration: none;
        color: var(--text-color);
    }

    .background-page {
        background-color: #f3f3f3;
        padding: 20px;
    }
}

.map-info {
    display: flex;
    margin: 70px;

    .form-info {


        .info-direct {

            .p-info {
                padding: 24px 0px 16px;
            }

        }

        .icon-info {

            display: flex;
            align-items: center;
            gap: 24px;
            margin-top: 17px;

            .img-ridues {
                width: 56px;
                height: 56px;
                background-color: #F5F5F5;
                border-radius: 8px;
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .text-info {

                .commune {
                    font-family: var(--font-1);
                    font-weight: 600;
                    color: #000000;
                    padding-top: 6px;
                }

            }

        }
    }

    .map {
        width: 783px;
        height: 390px;
        overflow: hidden;
        border-radius: 20px !important;


    }

}

.contact-us {
    margin: 70px;

    .info-person {
        display: flex;
        gap: 20px;

        input {
            width: 665px;
            height: 48px;
            border-radius: 8px;
            border: none;
            border: 1px solid #9D9D9D;
            outline: none;
            padding-left: 16px;
            margin: 30px 0px 20px;
        }
    }

    textarea {
        width: 100%;
        height: 110px;
        border-radius: 8px;
        border: 1px solid #9D9D9D;
        outline: none;
    }

    .check {
        margin: 20px 0px;
        display: flex;
        align-items: center;
        gap: 6px;

        label {
            font-family: var(--font-2);
            font-size: 18px;
            line-height: 150%;
            color: var(--paragraph);
        }
    }
}


/*faq*/

.articles {
    margin: 90px 70px;

    .selectes {
        margin: 50px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

    }


    .accordion-item {
        border: none;
        background: #f3f3f3;
        border-radius: 12px;
        margin-bottom: 16px;
        flex-shrink: 0;

    }

    .accordion-button {
        background: transparent;
        font-weight: 500;
        color: #000 !important;
        box-shadow: none;

        &:focus {
            box-shadow: none !important;
            outline: none !important;
        }

    }

    .accordion-button.collapsed {
        color: #000 !important;
    }

    .accordion-button:not(.collapsed) {
        color: var(--Primary-color) !important;
        background: transparent;
        /*من ابوها*/
        box-shadow: none;
    }


    .accordion-body {
        background: transparent;
        padding: 16px;
        color: #555;

        /* p {
            margin-bottom: 0rem !important;
        } */

    }

    .item-width {
        width: 100% !important;
    }

    .accordion-header {
        font-family: var(--font-1);
    }


}

.section-ends {
    margin: 50px 70px;
    height: 321px;
    background-image: url(../images/fqa-section.png);
    background-repeat: no-repeat;
}


@media screen and (max-width:992px) {
    .map-info {
        flex-direction: column;
        margin: 145px 0px 50px 0px;

        .form-info {
            margin: 0px 20px;
        }

        .map {
            margin: 40px 0px;
            position: relative;
            width: 100%;
            border-radius: 0px !important;



            iframe {

                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    .contact-us {
        margin: 70px 20px;

        .info-person {
            flex-direction: column;
            gap: 20px;
            margin: 20px 0px;

            input {
                width: 100%;
                margin: 0px;
            }
        }
    }

    /*  */
    .articles {
        margin: 90px 20px;

        .selectes {
            grid-template-columns: 1fr;
        }
    }

    .section-ends {
        margin: 50px 20px 0 20px;
        background-size: cover;
        width: 320px;
        height: 233px;
    }


}